{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- /// change your site title here /// -->
    <title>Give Me Code</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Loading Bootstrap, Flat UI and the custom stylesheets -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/video-bg.css' %}" rel="stylesheet">

    <!-- /// optional extra stylesheet - uncomment and use this one for your customisations! /// -->
    <!-- <link href="css/custom.css" rel="stylesheet"> -->

    <link rel="shortcut icon" href="{% static 'images/icons/givemecode.png' %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="video-bg">

    <div id="wrapper"><!-- necessary for the bg video -->



      <!-- ////////// BACKGROUND VIDEO ////////// -->

      <!-- the image and color overlay can be edited in image-bg.css (or less) file -->
      <div id="bg-hue"></div>



      <!-- ////////// INTRO SECTION ////////// -->

      <section id="intro">
        <div class="container">

          <div class="intro">

            <div class="logo">
                <a href="/"><img src="{% static 'images/icons/givemecode.png' %}" alt="logo" title="logo" class="img-responsive" /></a>
            </div>

            <h2>Knowledge it's freedom!</h2>

            <p class="lead">The information will go to you...</p>

          </div>

        </div>
      </section>

      <!-- ////////// CAPTION SECTION ////////// -->

      <section id="caption" class="transparent" style="margin-top: 30px;">
        <div class="container">

          <div class="caption">

            <q>We do a nice crawling job to provide the best informations to <strong>you my friend</strong>! See the e-mail body <a href="#" data-toggle="modal" data-target="#modal">here</a>.</q>

          </div> 

        </div>  
      </section>



      <!-- ////////// MODAL WINDOW - ABOUT INFO ////////// -->

		<div id="modal" class="modal fade">

      <div class="modal-dialog">
        <div class="modal-content">
    
          <div class="modal-header">
            
            <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
            
            <h3 class="modal-title">Pre-Launch Gift For Subscribers!</h3>
          
          </div>

          <div class="modal-body">
           
            <p class="lead">Lorem ipsum dolor sit amet, ut labore et dolore magna aliqua.</p>

            <p>Ut enim ad minim veniam, quis nostrud <a href="#">exercitation ullamco laboris</a> nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <blockquote>Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
          
            <p>Lorem ipsum dolor sit amet, ut labore et dolore magna aliqua.</p>

          </div>

          <div class="modal-footer">
            <a href="#" class="btn btn-embossed btn-danger" data-dismiss="modal">Close</a>
          </div>

        </div>
      </div>  

    </div>



      <!--////////// NEWSLETTER SECTION //////////-->

      <section id="newsletter"> 
        <div class="container">
          
          <p class="lead">If you want to be notified, provide your e-mail and that's all.</p>

          <div class="row">
              
            <div class="col-md-8 col-md-offset-2">
            
              <!-- Newsletter Form -->
              <form id="newsletter-signup">
                  
                <div class="form-group">
                <input type="text" name="e-mail" id="e-mail" placeholder="type your e-mail here..." class="form-control input-hg">
                </div>
                 
                <div id="error-info"></div><!-- div for notification -->

                <button class="btn btn-danger btn-hg btn-embossed" type="submit" name="submit">Can't Wait!</button> 
                  
              </form><!-- end of Newsletter Form -->

            </div>
          
          </div>

        </div>

      </section>



      <!--////////// FOOTER SECTION //////////-->

      <section id="footer">
          <div class="container">

              <p>Copyright &copy; 2015 with <3 by<a target="_blank" href="http://github.com/alexfalcucc">  Alexsander Falcucci</a> - All Rights Reserved.</p>

          </div>
      </section>

    </div><!-- end of video wrapper -->


    
    <!-- ////////// JAVASCRIPT STUFF ////////// -->

    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.counteverest.min.js' %}"></script>
    <script src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script> 
    <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.js' %}"></script>
    <script src="{% static 'js/flatui-checkbox.js' %}"></script>
    <script src="{% static 'js/flatui-radio.js' %}"></script>
    <script src="{% static 'js/jquery.tagsinput.js' %}"></script>
    <script src="{% static 'js/jquery.placeholder.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- /// THE VIDEO BACKGROUND /// -->
    <script type="text/javascript">
      jQuery(function(){
        jQuery(".player").mb_YTPlayer();
      });
    </script>

    <!-- /// THE VIDEO LINK - put your video URL in "videoURL" /// -->
    <a id="bgndVideo" class="player" data-property="{videoURL:'http://youtu.be/aKHAVAuFcjU',containment:'body',autoPlay:true, mute:true, startAt:20, opacity:1}"></a>

  </body>
</html>
